body {
    margin: 0;
    padding: 0;
    background-color: #000;
  }
  
  .block {

  }
  
  .block:before, .block:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
      #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
  }
  
  @keyframes steam {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .block:after {
    filter: blur(50px);
  }
/* ///////////////////////////////////////////////////// */
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body{
    background-color: orange;
    background-repeat: no-repeat;
} */

.block{
    width: 60%;
    min-height: 70vh;
    background: url("images/1.png") center/contain fixed no-repeat ;
    /* background-size: 100% ; */
    /* background-size: contain; */
    /* border: 0.5rem solid orange; */
    border-radius: 0.5rem;
    position: relative;
    margin: 4rem auto;
    /* box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.6); */

    /* position: relative; */
    /* margin: 300px auto 0; */
    /* width: 500px; */
    /* height: 250px; */
    /* background: linear-gradient(0deg, #000, #272727); */
}

.btn-left{
    position: absolute;
    top: 50%;
    left: 0;
    background-color: blueviolet;
    color: white;
    transform: translate(-50%, -50%);
    border: 0.2rem solid rgb(23, 208, 214);
    font-size: 1.5rem;
    padding: 15px;
    cursor: pointer;
}

.btn-right{
    position: absolute;
    top: 50%;
    right: 0;
    background-color: blueviolet;
    color: white;
    transform: translate(50%, -50%);
    border: 0.2rem solid rgb(23, 208, 214);
    font-size: 1.5rem;
    padding: 15px;
    cursor: pointer;
}

